---
Checks: >
  -*,
  cppcoreguidelines-*,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-special-member-functions,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-explicit-virtual-functions,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,
  cert-err33-c,
  clang-analyzer-core.*,
  clang-analyzer-valist.*,
  clang-analyzer-unix.Malloc,
  clang-diagnostic-*,
  google-readability-casting,
  misc-*,
  -misc-non-private-member-variables-in-classes,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-uppercase-literal-suffix,
  -readability-avoid-const-params-in-decls

CheckOptions:
  - key:   cppcoreguidelines-macro-usage.CheckCapsOnly
    value: true

FormatStyle: "file"
HeaderFilterRegex: "*.hpp$"
WarningsAsErrors: ""