---
Checks: >
  -*,

  bugprone-*,
  -bugprone-command-processor,
  -bugprone-easily-swappable-parameters,
  -bugprone-invalid-enum-default-initialization,

  clang-*,
  -clang-analyzer-optin.core.EnumCastOutOfRange,
  -clang-analyzer-optin.cplusplus.VirtualCall,
  
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-special-member-functions,

  google-*,

  misc-*,
  -misc-include-cleaner,
  -misc-header-include-cycle,
  -misc-use-anonymous-namespace,
  -misc-use-internal-linkage,

  modernize-*,
  -modernize-use-nodiscard,
  -modernize-use-trailing-return-type,

  performance-*,

  portability-*,

  readability-*,
  -readability-identifier-length,
  -readability-magic-numbers,

FormatStyle: "file"
HeaderFilterRegex: "*.hpp$"
WarningsAsErrors: ""
