[submodule "libs/sdl"]
	path = libs/sdl
	url = https://github.com/gustavo-tomas/sdl.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/gustavo-tomas/fmt.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/gustavo-tomas/glm.git
[submodule "libs/vulkan"]
	path = libs/vulkan
	url = https://github.com/gustavo-tomas/Vulkan-Headers.git
[submodule "libs/vma"]
	path = libs/vma
	url = https://github.com/gustavo-tomas/VulkanMemoryAllocator.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/gustavo-tomas/imgui.git
[submodule "libs/spirv_reflect"]
	path = libs/spirv_reflect
	url = https://github.com/gustavo-tomas/SPIRV-Reflect.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/gustavo-tomas/stb.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/gustavo-tomas/assimp.git
[submodule "libs/imguizmo"]
	path = libs/imguizmo
	url = https://github.com/gustavo-tomas/ImGuizmo.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/gustavo-tomas/json.git
