[submodule "libs/sdl"]
	path = libs/sdl
	url = https://github.com/gustavo-tomas/sdl.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/vulkan"]
	path = libs/vulkan
	url = https://github.com/gustavo-tomas/Vulkan-Headers.git
[submodule "libs/vma"]
	path = libs/vma
	url = https://github.com/gustavo-tomas/VulkanMemoryAllocator.git
[submodule "libs/spirv_reflect"]
	path = libs/spirv_reflect
	url = https://github.com/gustavo-tomas/SPIRV-Reflect.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/gustavo-tomas/json.git
[submodule "libs/meshoptimizer"]
	path = libs/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "libs/bullet"]
	path = libs/bullet
	url = https://github.com/bulletphysics/bullet3.git
[submodule "libs/freetype"]
	path = libs/freetype
	url = https://github.com/gustavo-tomas/freetype.git
[submodule "libs/soloud"]
	path = libs/soloud
	url = https://github.com/jarikomppa/soloud.git
[submodule "libs/vkbootstrap"]
	path = libs/vkbootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap.git
[submodule "libs/assimp"]
	path = libs/assimp
	url = https://github.com/assimp/assimp.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt.git
